/** HTML ELEMENTS */
h1 {
  font-size: 150%;
}

h2 {
  text-transform: uppercase;
  font-size: 130%;
  text-shadow: 1px 0.5px #c8c9d2cf;
  padding-bottom: 10px;
}

blockquote::before {
  content: "''";
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  font-size: 300%;
  color: #eaeaea;
}

blockquote::after {
  content: "''";
  font-weight: bold;
  font-family: 'Great Vibes', cursive;
  font-size: 300%;
  color: #eaeaea;
}

blockquote p {
  display: inline;
}

nav {
  background: #000;
  position: fixed;
  width: 100%;
  height: auto;
  border-width: 1px 0;
  margin: 0;
  text-align: center;
  top: 0;
  z-index: 15;
  box-shadow: 0 0 1em #f3eaea;
}

nav ul {
  height: auto;
  margin: 15px;
}

nav li {
  display: inline-block;
  padding: 5px;
  color: #eee;
  height: auto;
}

nav li a {
  text-decoration: none;
  font-family: "Bitter", serif;
  font-size: 120%;
  color: #eee;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: uppercase;
}

nav li :hover {
  color: #777;
}

nav li img {
  width: 80%;
  height: 80%;
}

main {
  width: 100%;
  height: 100%;
  display: block;
  clear: both;
  margin-top: 59px;
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 12;
}

body div img {
  max-width: 100%;
  height: auto;
}

form button {
  border-radius: 0.25rem;
  font-size: 110%;
  font-family: "Bitter", serif;
  color: #fff;
  background-color: #000;
}

form input,
form select {
  border-radius: 0.25rem;
  border: 1px solid #e9ecef;
  padding: 5px;
  border-radius: 3px;
}

form label {
  font-size: 95%;
}

table {
  padding: 5px !important;
  background-color: #fff;
  width: 100%;
}

th,
td {
  border-spacing: 5px;
  border-collapse: collapse;
  padding: 10px;
  font-family: "Bitter", serif;
}

th {
  font-weight: bold;
  color: #fff;
  background-color: #000;
}

td {
  color: #4b4e4b;
}

table tr:nth-child(odd) {
  background-color: #f2f5f2;
}

td button {
  color: #4b4e4b;
  border: none;
  background-color: transparent;
  text-transform: lowercase;
}

td button:hover {
  color: #23f;
  cursor: pointer;
}

textarea {
  resize: none;
}

footer {
  bottom: 0;
  position: static;
  background-color: #f8f9fa;
  width: 100%;
  height: 30px;
  color: #6c757d;
  clear: both;
}

footer p {
  padding: 5px;
  float: right;
}

/** CLASS */
.page {
  display: flex;
  flex-direction: column;
}

.container {
  animation: show 0.5s ease-in;
  -webkit-animation: show 0.5s ease-in;
  width: auto;
  margin: 100px 200px 100px 200px;
  font-family: "Bitter", serif;
  background-color: #fff;
  text-align: center;
  border: 1px solid #e9ecef;
  border-radius: 0.25rem;
  padding: 70px;
}

.section {
  border: 1px solid #eee;
  padding: 30px;
}

.home-icon {
  font-size: 30px;
  float: left;
}

.home-icon :hover {
  color: unset;
}

.toggleOn-icon {
  font-size: 30px;
  float: right;
  color: #fff;
}

.toggleOn-icon i {
  color: #fff;
  transition: color 1.5s;
}

.toggleOn-icon :hover {
  color: #0da40c;
  transition: color 1.5s;
  cursor: pointer;
}

.font-radio {
  font-size: 80%;
}

.column-name {
  text-align: left;
}

/** Animations */
@-webkit-keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes quica{
  from {
    top: 0;
  }
  to {
    top: 1em;
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes quica{
  from {
    top: 0;
  }
  to {
    top: 1em;
  }
}