<div class="container">
    <form>
        <div>
            <div>
                <label>Nome</label>
                <input type="text" id="inNome" />
            </div>

            <div>
                <label>Nascimento</label>
                <input type="date" id="inData" />
            </div>
            <div>
                <label>Gênero</label>
                <input type="radio" id="rdGeneroIndef" name="genero" value="Indefinido">Indefinido</input>
                <input type="radio" id="rdGeneroMasc" name="genero" value="Masculino">Masculino</input>
                <input type="radio" id="rdGeneroFem" name="genero" value="Feminino">Feminino</input>
            </div>
        </div>

        <div>
            <label>Estilo Musical</label>
            <select id="selectEstilos">
                <option>Rock</option>
                <option>Pop Rock</option>
                <option>Indie Rock</option>
                <option>Rock Progressivo</option>
                <option>Fusion</option>
                <option>Jazz</option>
                <option>Samba</option>
                <option>Hip Hop</option>
                <option>Forró</option>
            </select>
        </div>
        <div>
            <button type="submit" id="btnSalvar">Salvar</button>
        </div>
    </form>
</div>