<div class="container">
    <h2>Seus dados</h2>
    <form>
        <div class="section">
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available">Nome:
                    <input style="float: right; width: -webkit-fill-available" autofocus required placeholder="seu nome"
                        type="text" id="inNome" />
                </label>
            </div>
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available">Email:
                    <input style="float: right; width: -webkit-fill-available" required placeholder="seu e-mail"
                        type="text" id="inEmail" />
                </label>
            </div>
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available;">Nascimento:
                    <input style="float: right; width: -webkit-fill-available;" required
                        placeholder="quando você nasceu" type="date" id="inData" />
                </label>
            </div>
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available;">Endereço:
                    <select style="float: right; width: -webkit-fill-available;" required id="selectEstados">
                        <option>AL</option>
                        <option>BR</option>
                        <option>BH</option>
                        <option>ES</option>
                        <option>PN</option>
                        <option>RR</option>
                        <option>RJ</option>
                        <option>SP</option>
                    </select>
                    <select style="float: right; width: -webkit-fill-available;" required id="selectCidades">
                        <option>Petrópolis</option>
                        <option>Teresópolis</option>
                    </select>
                </label>
            </div>
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available;">Gênero:
                    <div style="float: right; width: -webkit-fill-available;">
                        <label><input type="radio" id="rdGeneroIndef" name="genero" value="Indefinido">Indefinido</input></label>
                        <label><input type="radio" id="rdGeneroMasc" name="genero" value="Masculino">Masculino</input></label>
                        <label><input type="radio" id="rdGeneroFem" name="genero" value="Feminino">Feminino</input></label>
                    </div>
                </label>
            </div>
        </div>
        <div class="section">
            <div style="display: block; margin: 0 40px 6px; display: flex;">
                <label style="float: left; width: -webkit-fill-available;">Estilo Musical
                    <select style="float: right; width: -webkit-fill-available;" id="selectEstilos">
                        <option>Rock</option>
                        <option>Pop Rock</option>
                        <option>Indie Rock</option>
                        <option>Rock Progressivo</option>
                        <option>Fusion</option>
                        <option>Jazz</option>
                        <option>Samba</option>
                        <option>Hip Hop</option>
                        <option>Forró</option>
                    </select>
                </label>
                <button id="btnAdd">ADD</button>
            </div>
            <div style="text-align: -webkit-right;margin: 0 40px 6px;">
                <textarea style="display: block;width: -webkit-fill-available" placeholder="seus estilos musicais"
                    required></textarea>
            </div>
        </div>
        <div class="section">
            <button type="submit" id="btnSalvar">Salvar</button>
        </div>
    </form>
</div>