<div class="container">
    <form style="display: block;">
        <div>
            <h4>Procurando um músico?</h4>
        </div>
        <div>
            <input type="text" id="inBuscaNome" />
            <button type="submit" id="btnBuscar" class="fas fa-search"></button>
        </div>
    </form>
    <table>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Estilo Principal</th>
                <th>Cidade</th>
            </tr>
            <tr>
                <td>Guilherme</td>
                <td>26 Anos</td>
                <td>Punk Rock</td>
                <td>Petrópolis</td>
            </tr>
    </table>
</div>