<div class="container">
    <form style="display: block;">
        <div>
            <h4>Procurando um músico?</h4>
        </div>
        <div>
            <input type="text" id="inBuscaNome" />
            <button type="submit" id="btnBuscar" class="fas fa-search"></button>
        </div>
    </form>
    <div style="display: inline-block;padding: 30px;">
        <table>
            <tr>
                <th>Nome</th>
                <th>Idade</th>
                <th>Estilo Principal</th>
                <th>Cidade</th>
                <th></th>
            </tr>
            <tr>
                <td>Mark Knoppfler</td>
                <td>60 Anos</td>
                <td>Soft Rock</td>
                <td>Dalas</td>
                <td><button>Ver mais</button></td>
            </tr>
            <tr>
                <td>David Gilmour</td>
                <td>66 Anos</td>
                <td>Rock Progressivo</td>
                <td>Manhattan</td>
                <td><button>Ver mais</button></td>
            </tr>
            <tr>
                <td>Matt Freeman</td>
                <td>46 Anos</td>
                <td>Punk Rock</td>
                <td>San Francisco</td>
                <td><button>Ver mais</button></td>
            </tr>
        </table>
    </div>
</div>